gencode_gene:
  adapter:
    module: biocypher_metta.adapters.gencode_gene_adapter
    cls: GencodeGeneAdapter
    args:
      filepath: ./samples/gencode_sample.gtf.gz
      gene_alias_file_path: ./aux_files/Homo_sapiens.gene_info.gz

  outdir: gencode/gene
  nodes: True
  edges: False


gencode_transcripts:
  adapter:
    module: biocypher_metta.adapters.gencode_adapter
    cls: GencodeAdapter
    args:
      filepath: ./samples/gencode_sample.gtf.gz
      type: transcript
      label: transcript

  outdir: gencode/transcript
  nodes: True
  edges: False


transcribed_to:
  adapter:
    module: biocypher_metta.adapters.gencode_adapter
    cls: GencodeAdapter
    args:
      filepath: ./samples/gencode_sample.gtf.gz
      type: transcribed to
      label: transcribed_to

  outdir: gencode
  nodes: False
  edges: True

transcribed_from:
  adapter:
    module: biocypher_metta.adapters.gencode_adapter
    cls: GencodeAdapter
    args:
      filepath: ./samples/gencode_sample.gtf.gz
      type: transcribed from
      label: transcribed_from

  outdir: gencode
  nodes: False
  edges: True


uniprotkb_sprot:
  adapter:
    module: biocypher_metta.adapters.uniprot_protein_adapter
    cls: UniprotProteinAdapter
    args:
      filepath: ./samples/uniprot_sprot_human_sample.dat.gz

  outdir: uniprot
  nodes: True
  edges: False

uniprotkb_sprot_translates_to:
  adapter:
    module: biocypher_metta.adapters.uniprot_adapter
    cls: UniprotAdapter
    args:
      filepath: ./samples/uniprot_sprot_human_sample.dat.gz
      type: translates to
      label: translates_to

  outdir: uniprot
  nodes: False
  edges: True

uniprotkb_sprot_translates_of:
  adapter:
    module: biocypher_metta.adapters.uniprot_adapter
    cls: UniprotAdapter
    args:
      filepath: ./samples/uniprot_sprot_human_sample.dat.gz
      type: translation of
      label: translation_of

  outdir: uniprot
  nodes: False
  edges: True

pathway:
  adapter:
    module: biocypher_metta.adapters.reactome_pathway_adapter
    cls: ReactomePathwayAdapter
    args:
      filepath: ./samples/reactome/ReactomePathways.txt
      pubmed_map_path: ./samples/reactome/ReactionPMIDS.txt

  outdir: reactome
  nodes: True
  edges: False

genes_pathways:
  adapter:
    module: biocypher_metta.adapters.reactome_adapter
    cls: ReactomeAdapter
    args:
      filepath: ./samples/reactome/Ensembl2Reactome_All_Levels_sample.txt
      label: genes_pathways

  outdir: reactome
  nodes: False
  edges: True

parent_pathway_of:
  adapter:
    module: biocypher_metta.adapters.reactome_adapter
    cls: ReactomeAdapter
    args:
      filepath: ./samples/reactome/ReactomePathwaysRelation.txt
      label: parent_pathway_of

  outdir: reactome
  nodes: False
  edges: True

child_pathway_of:
  adapter:
    module: biocypher_metta.adapters.reactome_adapter
    cls: ReactomeAdapter
    args:
      filepath: ./samples/reactome/ReactomePathwaysRelation.txt
      label: child_pathway_of

  outdir: reactome
  nodes: False
  edges: True

go_ontology_terms:
  adapter:
    module: biocypher_metta.adapters.gene_ontology_adapter
    cls: GeneOntologyAdapter
    args:
      ontology: 'go'
      type: node
      dry_run: True

  outdir: gene_onotology
  nodes: True
  edges: False

go_subtype_of:
  adapter:
    module: biocypher_metta.adapters.gene_ontology_adapter
    cls: GeneOntologyAdapter
    args:
      ontology: 'go'
      label: go_subtype_of
      type: edge
      dry_run: True

  outdir: gene_onotology
  nodes: False
  edges: True

gaf:
  adapter:
    module: biocypher_metta.adapters.gaf_adapter
    cls: GAFAdapter
    args:
      filepath: ./samples/goa_human_sample.gaf.gz


  outdir: gaf
  nodes: False
  edges: True


coexpression:
  adapter:
    module: biocypher_metta.adapters.coxpresdb_adapter
    cls: CoxpresdbAdapter
    args:
      filepath: ./samples/coxpressdb
      ensemble_to_entrez_path: ./aux_files/entrez_to_ensembl.pkl

  outdir: coxpressdb
  nodes: False
  edges: True

tflink:
    adapter:
        module: biocypher_metta.adapters.tflink_adapter
        cls: TFLinkAdapter
        args:
          filepath: ./samples/tflink_homo_sapiens_interactions.tsv.gz
          entrez_to_ensemble_map: ./aux_files/entrez_to_ensembl.pkl

    outdir: tflink
    nodes: False
    edges: True

string:
  adapter:
    module: biocypher_metta.adapters.string_ppi_adapter
    cls: StringPPIAdapter
    args:
      filepath: ./samples/string_human_ppi_v12.0.txt.gz
      ensembl_to_uniprot_map: ./aux_files/string_ensembl_uniprot_map.pkl

  outdir: string
  nodes: False
  edges: True

tadmap:
  adapter:
    module: biocypher_metta.adapters.tadmap_adapter
    cls: TADMapAdapter
    args:
      filepath: ./samples/tad_sample.csv

  outdir: tadmap
  nodes: True
  edges: False


gtex_eqtl:
  adapter:
    module: biocypher_metta.adapters.gtex_eqtl_adapter
    cls: GTExEQTLAdapter
    args:
      filepath: ./samples/gtex
      gtex_tissue_ontology_map: ./aux_files/gtex_tissues_to_ontology_map.pkl

  outdir: gtex/eqtl
  nodes: False
  edges: True

hocomoco:
  adapter:
    module: biocypher_metta.adapters.hocomoco_motif_adapter
    cls: HoCoMoCoMotifAdapter
    args:
      filepath: ./samples/motifs
      annotation_file: ./samples/motifs/HOCOMOCOv11_core_annotation_HUMAN_mono.tsv
      hgnc_to_ensembl_map: ./aux_files/hgnc_to_ensembl.pkl

  outdir: hocomoco
  nodes: True
  edges: False

roadmap_chromatin_state:
  adapter:
    module: biocypher_metta.adapters.roadmap_adapter
    cls: RoadMapAdapter
    args:
      filepath: ./samples/roadmap/chromatin_state
      tissue_to_ontology_id_map: ./aux_files/roadmap_tissues_to_ontology_map.pkl
      dbsnp_rsid_map: None

  outdir: roadmap
  nodes: True
  edges: False

roadmap_h3_mark:
  adapter:
    module: biocypher_metta.adapters.roadmap_adapter
    cls: RoadMapAdapter
    args:
      filepath: ./samples/roadmap/h3_marks
      tissue_to_ontology_id_map: ./aux_files/roadmap_tissues_to_ontology_map.pkl
      dbsnp_rsid_map: None

  outdir: roadmap
  nodes: True
  edges: False

roadmap_dhs:
  adapter:
    module: biocypher_metta.adapters.roadmap_adapter
    cls: RoadMapAdapter
    args:
      filepath: ./samples/roadmap/dhs
      tissue_to_ontology_id_map: ./aux_files/roadmap_tissues_to_ontology_map.pkl
      dbsnp_rsid_map: None

  outdir: roadmap
  nodes: True
  edges: False

abc_regulatory_region:
  adapter:
    module: biocypher_metta.adapters.abc_adapter
    cls: ABCAdapter
    args:
      filepath: ./samples/abc.forgedb_sample.csv.gz
      type: "node"
      hgnc_to_ensembl_map: ./aux_files/hgnc_to_ensembl.pkl
      tissue_to_ontology_id_map: ./aux_files/abc_tissues_to_ontology_map.pkl
      dbsnp_rsid_map: None # will be provided by import script

  outdir: abc
  nodes: True
  edges: False

abc_enhancer_gene_pair:
  adapter:
    module: biocypher_metta.adapters.abc_adapter
    cls: ABCAdapter
    args:
      filepath: ./samples/abc.forgedb_sample.csv.gz
      type: "edge"
      hgnc_to_ensembl_map: ./aux_files/hgnc_to_ensembl.pkl
      tissue_to_ontology_id_map: ./aux_files/abc_tissues_to_ontology_map.pkl
      dbsnp_rsid_map: None # will be provided by import script

  outdir: abc
  nodes: False
  edges: True

cadd:
  adapter:
    module: biocypher_metta.adapters.cadd_adapter
    cls: CADDAdapter
    args:
      filepath: ./samples/cadd.forgedb_sample.csv.gz
      dbsnp_rsid_map: None # will be provided by import script

  outdir: cadd
  nodes: True
  edges: False

refseq_closest_gene:
  adapter:
    module: biocypher_metta.adapters.refseq_closest_gene_adapter
    cls: RefSeqClosestGeneAdapter
    args:
      filepath: ./samples/closest_gene.forgedb_sample.csv.gz
      hgnc_to_ensembl_map: ./aux_files/hgnc_to_ensembl.pkl
      dbsnp_rsid_map: None # will be provided by import script

  outdir: refseq
  nodes: False
  edges: edge

topld_eur:
    adapter:
        module: biocypher_metta.adapters.topld_adapter
        cls: TopLDAdapter
        args:
            filepath: ./samples/topld/EUR/topld_eur_chr16_sample.csv.gz
            chr: chr16
            ancestry: EUR
            dbsnp_pos_map: None # will be provided by import script

    outdir: top_ld/EUR
    nodes: False
    edges: True

gencode_exon:
  adapter:
    module: biocypher_metta.adapters.gencode_exon_adapter
    cls: GencodeExonAdapter
    args:
      filepath: ./samples/gencode_sample.gtf.gz

  outdir: gencode/exon
  nodes: True
  edges: False

rna_central_non_coding_rna:
  adapter:
    module: biocypher_metta.adapters.rna_central_adapter
    cls: RNACentralAdapter
    args:
      filepath: ./samples/rna_central/sample_homo_sapiens.GRCh38.bed.gz
      rfam_filepath: ./samples/rna_central/sample_rnacentral_rfam_annotations.tsv.gz

  outdir: rna_central
  nodes: True
  edges: False

rna_central_non_coding_rna_belongs_to_go:
  adapter:
    module: biocypher_metta.adapters.rna_central_adapter
    cls: RNACentralAdapter
    args:
      filepath: ./samples/rna_central/sample_homo_sapiens.GRCh38.bed.gz
      rfam_filepath: ./samples/rna_central/sample_rnacentral_rfam_annotations.tsv.gz
      type: go rna
      label: go_rna

  outdir: rna_central
  nodes: False
  edges: True  


dgv_variant:
  adapter:
    module: biocypher_metta.adapters.dgv_variant_adapter
    cls: DGVVariantAdapter
    args:
      filepath: ./samples/dgv_GRCh38_hg38_variants.txt.gz

  outdir: dgv
  nodes: True
  edges: False
  
epd_promoter:
  adapter:
    module: biocypher_metta.adapters.epd_adapter
    cls: EPDAdapter
    args:
      filepath: ./samples/Hs_EPDnew.bed.gz
      hgnc_to_ensembl_map: ./aux_files/hgnc_to_ensembl.pkl

  outdir: epd
  nodes: True
  edges: False

epd_promoter_regulates_gene:
  adapter:
    module: biocypher_metta.adapters.epd_adapter
    cls: EPDAdapter
    args:
      filepath: ./samples/Hs_EPDnew.bed.gz
      hgnc_to_ensembl_map: ./aux_files/hgnc_to_ensembl.pkl
      type: promoter to gene association
      label: promoter_gene

  outdir: epd
  nodes: False
  edges: True

  
dbvar_variant:
  adapter:
    module: biocypher_metta.adapters.dbvar_adapter
    cls: DBVarVariantAdapter
    args:
      filepath: ./samples/dbvar_sample.vcf.gz

  outdir: dbvar
  nodes: True
  edges: False

peregrine_enhancer:
  adapter:
    module: biocypher_metta.adapters.peregrine_adapter
    cls: PEREGRINEAdapter
    args:
      enhancers_file: ./samples/peregrine/PEREGRINEenhancershg38.gz
      enhancer_gene_link: ./samples/peregrine/sample_enhancer_gene_link_18.tsv.gz
      source_file: ./samples/peregrine/PEREGRINEenhancersources.gz
      hgnc_ensembl_map: ./aux_files/hgnc_ensembl_map.pkl
      tissue_ontology_map: ./aux_files/peregrine_tissues_to_ontology_map.pkl

  outdir: peregrine
  nodes: True
  edges: False


peregrine_enhancer_regulates:
  adapter:
    module: biocypher_metta.adapters.peregrine_adapter
    cls: PEREGRINEAdapter
    args:
      enhancers_file: ./samples/peregrine/PEREGRINEenhancershg38.gz
      enhancer_gene_link: ./samples/peregrine/sample_enhancer_gene_link_18.tsv.gz
      source_file: ./samples/peregrine/PEREGRINEenhancersources.gz
      hgnc_ensembl_map: ./aux_files/hgnc_ensembl_map.pkl
      tissue_ontology_map: ./aux_files/peregrine_tissues_to_ontology_map.pkl
      type: enhancer to gene association
      label: enhancer_gene

  outdir: peregrine
  nodes: False
  edges: True

dbsuper_super_enhancer:
  adapter:
    module: biocypher_metta.adapters.dbsuper_adapter
    cls: DBSuperAdapter
    args:
      filepath: ./samples/dbSUPER_SuperEnhancers_hg19.tsv.gz
      hgnc_to_ensembl_map: ./aux_files/hgnc_to_ensembl.pkl
      dbsuper_tissues_map: ./aux_files/dbsuper_tissues_map.pkl

  outdir: dbsuper
  nodes: True
  edges: False

dbsuper_super_enhancer_regulates_gene:
  adapter:
    module: biocypher_metta.adapters.dbsuper_adapter
    cls: DBSuperAdapter
    args:
      filepath: ./samples/dbSUPER_SuperEnhancers_hg19.tsv.gz
      hgnc_to_ensembl_map: ./aux_files/hgnc_to_ensembl.pkl
      dbsuper_tissues_map: ./aux_files/dbsuper_tissues_map.pkl
      type: super enhancer to gene association
      label: super_enhancer_gene

  outdir: dbsuper
  nodes: False
  edges: True

dbsnp_snps:
  adapter:
    module: biocypher_metta.adapters.dbsnp_adapter
    cls: DBSNPAdapter
    args:
      filepath: ./samples/dbsnp/dbsnp-sample-00-common_all.vcf.gz
    
  outdir: dbsnp
  nodes: True
  edges: False

enhancer_atlas_enhancer:
  adapter:
    module: biocypher_metta.adapters.enhancer_atlas_adapter
    cls: EnhancerAtlasAdapter
    args:
      enhancer_filepath: ./samples/enhancer_atlas/enhancer.bed.gz
      enhancer_gene_filepath: ./samples/enhancer_atlas/enhancer_gene
      tissue_to_ontology_filepath: ./aux_files/enhancer_atlas_tissues_to_ontology.pkl

  outdir: enhancer_atlas
  nodes: True
  edges: False

enhancer_atlas_enhancer_regulates:
  adapter:
    module: biocypher_metta.adapters.enhancer_atlas_adapter
    cls: EnhancerAtlasAdapter
    args:
      enhancer_filepath: ./samples/enhancer_atlas/enhancer.bed.gz
      enhancer_gene_filepath: ./samples/enhancer_atlas/enhancer_gene
      tissue_to_ontology_filepath: ./aux_files/enhancer_atlas_tissues_to_ontology.pkl
      type: enhancer to gene association
      input_label: enhancer_gene

  outdir: enhancer_atlas
  nodes: False
  edges: True

uberon:
  adapter:
    module: biocypher_metta.adapters.uberon_adapter
    cls: UberonAdapter
    args:
      ontology: 'uberon'
      type: node
      dry_run: True
  outdir: uberon
  nodes: True
  edges: False

uberon_subtype_of:
  adapter:
    module: biocypher_metta.adapters.uberon_adapter
    cls: UberonAdapter
    args:
      ontology: 'uberon'
      type: edge
      dry_run: True
      label: uberon_subtype_of
  outdir: uberon
  nodes: False
  edges: True

cell_line_ontology:
  adapter:
    module: biocypher_metta.adapters.cell_line_ontology_adapter
    cls: CellLineOntologyAdapter
    args:
      ontology: 'clo'
      type: node
      dry_run: True
  outdir: cell_line_ontology
  nodes: True
  edges: False

clo_subtype_of:
  adapter:
    module: biocypher_metta.adapters.cell_line_ontology_adapter
    cls: CellLineOntologyAdapter
    args:
      ontology: 'clo'
      label: clo_subtype_of
      type: edge
      dry_run: True
  outdir: cell_line_ontology
  nodes: False
  edges: True